.cart_panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
}

.cart_panel .opac_layer{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cart_panel .cart_content{
    width: 340px;
    height: 100%;
    background: white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    animation: slideCartWindow 0.3s ease forwards;
}

@keyframes slideCartWindow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.cart_content .cart_header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart_header .heading{
    flex-grow: 1;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart_header .close_btn{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.close_btn .text{
    text-transform: uppercase;
    font-size: 14px;
}

.close_btn .text:hover{
    opacity: 0.5;
}

.cart_content .empty_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.cart_content .empty_cart svg {
    font-size: 12rem;
    opacity: 0.2;
  }

  .empty_cart span{
    font-size: 1.6rem;
  }

  .cart_footer{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0rem 1.5rem 2rem 1.5rem;
  }

  .cart_footer .subtotal{
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
  }

  .subtotal .text,
  .subtotal .total{
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color)
  }